@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400&display=swap');

* {
    box-sizing: border-box;
}

.center {
    display: grid;
    place-items: center;
}

body {
    margin: 0;

    width: 100vw;
    height: 100vh;
}

circle {
    fill: #6D597A;
    opacity: 0.5;
}

a {
    font-family:  'Sono', sans-serif;
    text-decoration: none;
    color: black;
}

.map-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.map-item a {
   text-align: center;
}

.map-item {
    transition: all .2s ease-in-out; 
}

.map-item:hover {
    filter: drop-shadow(0 0 0.75rem crimson);
    scale: 1.5; 
}
