@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400&display=swap');

* {
    box-sizing: border-box;
}

.center {
    display: grid;
    place-items: center;
}

body {
    margin: 0;

    width: 100vw;
    height: 100vh;

    font-family:  'Sono', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.map-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:  40px;
    max-height: 40px;
}

.map-item {
   text-align: center;
   overflow: visible;
   height: 80px;
}

.map-item {
    transition: all .2s ease-in-out; 
}

.map-item:hover {
    filter: drop-shadow(0 0 0.75rem white) drop-shadow(0 0 0.75rem white) drop-shadow(0 0 0.75rem white) drop-shadow(0 0 0.75rem white);
    scale: 1.5; 
    z-index: 100;
}

#main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    max-width: 700px;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 80px;
}

#map {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media only screen and (max-width: 700px) {
    #map {
        width: 100%;
        margin-top: 0px;
    }
}

.category {
    padding: 25px;
    border-radius: 20px;
    display: grid;
    gap: 30px 15px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-template-rows: repeat(auto-fill, 80px);
    background: rgba(100,100,100,0.1);
}

.category-heading {
    font-size: 1.3em;
    margin-top: 10px;
}

.title {
    font-size: 1.6em;
}

.logo-div {
    width: 100%;
    height: 40px;
}

.logo-title-divider {
    height: 5px;
    width: 100%;
}

.short-label {
    width: 100%;
    display: block;
}

.hovered .short-label {
    display: none;
}

.long-label {
    width: 160px;
    transform: translateX(-10px);
    display: none;
}

.hovered .long-label {
    display: block;
}

.description {
    display: none;
    font-size: 0.5em;
}

.hovered .description {
    display: block;
}
