@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400&display=swap');

* {
    box-sizing: border-box;
}

.center {
    display: grid;
    place-items: center;
}

body {
    margin: 0;

    width: 100vw;
    height: 100vh;

    font-family:  'Sono', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    background: rgba(255,255,255,0.95);
}

.map-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:  100%;
    max-height: 100%;
}


.grid-slot {
   overflow: visible;
   max-height: 80px;
}

.map-item {
   text-align: center;
   transition: all .2s ease-in-out;
}

.map-item.hovered {
    z-index: 100;
}

.low-item.hovered {
   transform: translateY(-70%);
}

.details {
   background: rgba(255, 255, 255, 0.7);
   border-radius: 10px;
   padding: 10px;
}

.hovered .details {
    background: rgba(255, 255, 255, 0.95);
}

#main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    max-width: 700px;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 80px;
}

@media only screen and (max-width: 700px) {
    #map {
        width: 100%;
        margin-top: 0px;
    }
}

.category {
    padding: 25px;
    border-radius: 20px;
    display: grid;
    gap: 30px 30px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-template-rows: repeat(auto-fill, 80px);
    background: rgba(100,100,100,0.1);
    overflow: visible;
}

.category-heading {
    font-size: 1.3em;
    margin-top: 10px;
}

.title {
    font-size: 1.6em;
}

.logo-div {
    width: 100%;
}

.logo-title-divider {
    height: 5px;
    width: 100%;
}
.short-label {
    width: 100%;
    display: block;
}

.hovered {
    font-size: 1em;
}

.hovered .short-label {
    display: none;
}

.long-label {
    display: none;
    font-size: 20px;
}

.hovered .long-label {
    display: block;
}

.description {
    display: none;
    font-size: 15px;
}

.hovered .description {
    display: block;
}

#background-img {
    width: 2000px;
    height: 1200px;
    position: absolute;
    top: 0;
    left: 0;
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
